.container{
  background: #ebebed;
}
.background{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #ebebed;
}
.card {
    text-align: center;
    font: Arial, sans-serif;
    color:  #37354a;
    /* color: #22212e; */
    display: block;
    width: 325px;
    align-content: center;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #c7d0ed;
}

/* 

  "#37354a"
  "#22212e"
*/


.a {
  font: 25px Arial, sans-serif;
}

.list-groups .listGroup{
    background-color: #dfdee3;
}

.accordion-toggle {
  background-color: #ff0000;
}


/* #edeef5; */



